@media screen and (max-width:1399px) {}


@media screen and (max-width:1199px) {
    .footer-top h4 {
        font-size: 1.4rem;
    }

    .footer-top h5 {
        font-size: 1.1rem;
    }

    .sidebar ul li a {
        font-size: 1.2rem;
    }

    .section_heading {
        font-size: 2.5rem;
    }
    .text_part p {
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }

    .footer-links,
    .footer-contact {
        padding-left: 1rem;
    }

    .footer-top h5 {
        font-size: 1.1rem;
        line-height: 1.4;
    }

    .footer-top h5 {
        font-size: 1rem;
    }

}

@media screen and (max-width: 991px) {
    .main_content {
        margin-left: 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: auto;
        right: 0;
        width: 100%;
        height: 100%;
        padding-top: 6.6875rem;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
        transform: translateX(100%);
        transition: transform 0.3s cubic-bezier(.77, 0, .18, 1);
    }

    .sidebar ul {
        text-align: center;
    }

    .sidebar.open {
        transform: translateX(0);
        z-index: 999;

    }

    .header-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #262626;
        display: block;
        z-index: 1003;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
    }

    .header-bottom .header-actions {
        flex-direction: row;
        gap: 10px;
    }

    .menu-btn {
        display: flex;
    }

    .footer-logo a {
        width: 13.625rem;
    }

    .footer-links,
    .footer-contact {
        padding-left: 1.75rem;
    }

    .footer-top h4 {
        font-size: 1.6rem;
    }

    .site-footer {
        padding-bottom: 90px;
    }

    .header-top .header-actions {
        display: none;
    }

    .header-top .header_inner {
        justify-content: center;
    }

    .banner_wrap {
        padding-left: 0;
    }

    .faq_img_outer {
        height: 25rem;
        margin-bottom: 1.25rem;
    }
    .text_part {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .footer-top {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo logo"
            "links contact";
    }

    .footer-logo {
        grid-area: logo;
    }

    .footer-links {
        grid-area: links;
    }

    .footer-contact {
        grid-area: contact;
    }

    .footer-links,
    .footer-contact {
        padding-left: 0;
        border-left: none;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .footer-logo a {
        margin-bottom: 0;
    }

    .contact_cards {
        flex-direction: column;
    }

    .slick-arrow {
        position: static !important;
        display: inline-block;
        margin: 0 10px;
        vertical-align: middle;
    }

    .home_games_slider {
        position: relative;
        padding-bottom: 3.5rem;
        width: 100%;
    }

    .home_games_slider .slick-arrow {
        position: absolute !important;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: inline-block;
        margin: 0 10px;
    }

    .home_games_slider .slick-prev {
        left: 50%;
        right: auto;
        bottom: -140px;
        transform: translateX(-120%);
    }

    .home_games_slider .slick-next {
        left: 50%;
        right: auto;
        bottom: -140px;
        transform: translateX(20%);
    }

    .slick-prev svg,
    .slick-next svg {
        width: 4rem;
        height: 4rem;
    }

    .banner_content {
        margin-top: 5rem;
        padding: 0 0.9375rem;
    }

    .banner_content h1 {
        font-size: 3rem;
        max-width: 20.625rem;
    }

    .accordion-button,
    .accordion-button:not(.collapsed) {
        font-size: 1.4rem;
    }

    .footer-bottom {
        padding: 1.3125rem 0 0 0;
    }

    .banner_content p {
        font-size: 1.1rem;
    }

    .banner_section {
        height: 35.75rem;
    }

    .home_content h2 {
        font-size: 2.7rem;
    }

    .text_part {
        padding: 3rem 0;
    }

    .contact_cards {
        padding: 1.875rem 1.25rem;
    }
    .footer-pages-wrap p{
        text-align: left;
    }
}




@media screen and (max-width:575px) {
    .footer-top {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "links"
            "contact";
    }

    .brand-container a,
    .footer-logo a {
        width: 13.75rem;
    }

    .footer-links,
    .footer-contact {
        border-top: 1px solid rgb(192 147 66/30%);
        padding-top: 1.25rem;
    }

    .newsletter-wrap p {
        font-size: 1.1rem;
    }

    .slick-prev svg,
    .slick-next svg {
        width: 3rem;
        height: 3rem;
    }

    .banner_content h1 {
        font-size: 2.5rem;
        max-width: 20.625rem;
    }

    .banner {
        height: 40rem;
    }

    .section_heading {
        font-size: 2.2rem;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .pt-7 {
        padding-top: 3.375rem;
    }

    .home_featured_img_outer {
        height: 20rem;
    }

    .py-5 {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .image_txt_img_outer {
        height: 20rem;
    }

    .py-7 {
        padding: 3.375rem 0;
    }

    .footer-top h4 {
        font-size: 1.4rem;
    }

    .footer-links li a,
    .footer-contact li {
        font-size: 1rem;
    }

    .banner_section {
        height: 30.75rem;
    }

    .home_content h2 {
        font-size: 2.3rem;
    }

    .text_part p {
        font-size: 1rem;
    }
    .py-6 {
        padding: 2.75rem 0px;
    }
    .modal-content .modal-title {
        font-size: 1.6rem !important;
    }
    .footer-pages-content-grp h3 {
        font-size: 1.3rem;
    }
    .footer-pages-wrap {
        padding: 1.875rem  0.9375rem;
    }
    .games_frame {
        padding: 0;
    }

}

@media screen and (max-width:480px) {
    .footer-bottom p {
        font-size: 0.9rem;
    }

    .banner_content p {
        font-size: 1rem;
    }

    .section_heading {
        font-size: 1.8rem;
    }

    .home_featured_img_outer {
        height: 18rem;
    }

    .accordion-button,
    .accordion-button:not(.collapsed) {
        font-size: 1.2rem;
    }

    .banner_section {
        height: 25.75rem;
    }

    .home_content h2 {
        font-size: 2.1rem;
    }

    .text_part {
        padding: 2rem 0;
    }
    .contact_group_content h3, .contact_card_info h3 {
        font-size: 1.3rem;
    }
    .footer-pages-content-grp h3 {
        font-size: 1.2rem;
    }
    .footer-pages-content-grp p {
        font-size: 1rem;
    }
    .games_frame {
        height: 21.5rem;
    }
}