
@media screen and (max-width:1399px) {

}


@media screen and (max-width:1199px) {
    .footer-top h4 {
        font-size: 1.4rem;
    }
    .footer-top h5 {
        font-size: 1.1rem;
    }
    .sidebar ul li a {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }
    .footer-links,
    .footer-contact {
        padding-left: 1rem;
    }

    .footer-top h5 {
        font-size: 1.1rem;
        line-height: 1.4;
    }
    .footer-top h5 {
        font-size: 1rem;
    }

}

@media screen and (max-width: 991px) {
    .main_content {
        margin-left: 0;
    }
    .sidebar {
        position:fixed;
        top: 0;
        left: auto;
        right: 0;
        width: 100%;
        height: 100%;
        padding-top: 6.6875rem;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
        transform: translateX(100%);
        transition: transform 0.3s cubic-bezier(.77, 0, .18, 1);
    }
    .sidebar ul {
        text-align: center;
    }
    .sidebar.open {
        transform: translateX(0);
        z-index: 999;

    }

    .header-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #262626;
        display: block;
        z-index: 1003;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
    }

    .header-bottom .header-actions {
        flex-direction: row;
        gap: 10px;
    }

    .menu-btn {
        display: flex;
    }
    .footer-logo a {
        width: 13.625rem;
    }

    .footer-links,
    .footer-contact {
        padding-left: 1.75rem;
    }

    .footer-top h4 {
        font-size: 1.6rem;
    }
    .site-footer {
        padding-bottom: 90px;
    }
    .header-top .header-actions {
        display: none;
    }
    .header-top  .header_inner {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }
    .footer-top {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo logo"
            "links contact";
    }

    .footer-logo {
        grid-area: logo;
    }

    .footer-links {
        grid-area: links;
    }

    .footer-contact {
        grid-area: contact;
    }

    .footer-links,
    .footer-contact {
        padding-left: 0;
        border-left: none;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 1.25rem;
        text-align: center;
    }

    .footer-logo a {
        margin-bottom: 0;
    }
    .contact_cards {
flex-direction: column;
    }

}




@media screen and (max-width:575px) {
    .footer-top {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "links"
            "contact";
    }

    .brand-container a,
    .footer-logo a {
        width: 13.75rem;
    }

    .footer-links,
    .footer-contact {
        border-top: 1px solid rgb(192 147 66/30%);
        padding-top: 1.25rem;
    }
    .newsletter-wrap p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:480px) {
    .footer-bottom p {
        font-size: 0.9rem;
    }
}